<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <a class="navbar-brand" href="/">
        <%= image_tag "relogio.png", width: '50px', style: 'margin-right: -20px; margin-top: -14px;' %> 
      </a>
    </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">                  
          <li>
            <a href="/registros"><i class="fa fa-phone" aria-hidden="true"></i> <%= t("views.layouts.menu.easy_talk") %></a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown li-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá, <strong><%= current_user.name.upcase %></strong><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/usuarios/<%= current_user.id %>"><i class="fa fa-user" aria-hidden="true"></i> <%= t("views.layouts.menu.profile") %></a></li>
              <li><a href="/users/minha-conta/editar-perfil"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <%= t("views.layouts.menu.edit_profile") %></a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i> #{t('views.layouts.menu.sign_out')}".html_safe, destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/users/sign_in" id="link_conectar"><i class="fa fa-sign-in" aria-hidden="true"></i> <%= t("devise.sessions.sign_in") %> <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>